# Configuración de la Aplicación
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# Configuración de Base de Datos (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres_dev_password@localhost:5432/celllock_db?schema=public"

# Configuración de Redis
REDIS_HOST=localhost
REDIS_PORT=6379